[build]
  command = "npm run build"
  publish = "dist"
  
  [build.environment]
    CI = "false"
    NETLIFY_NEXT_PLUGIN_SKIP = "true"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
